{% extends 'music/base.html' %}
{% block title %}Details of '{{ album.album_title }}'{% endblock %}

<!-- Put this block into the base.html body -->
{% block body %}

    <img src="{{ album.album_logo }}" style="max-width=400px; max-height: 400px;">

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h1>'{{ album.album_title }}'</h1>
    <h2>by {{ album.artist }}</h2>

    {% if album.song_set.count > 1 %}
        <h3>Songs:</h3>
        <ul>

            {% csrf_token %}

            {% for song in album.song_set.all %}
                <li>
                    <label for="song{{ forloop.counter }}">
                        {{ song.song_title }}
                    </label><br>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p>There are no songs in this album.</p>
    {% endif %}

{% endblock %}